* {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 1180px;
    margin: 0 auto;
  }
  header {
    height: 120px;
    background-color: red;
    margin-bottom: 10px;
  }
  .logo {
    width: 150px;
    float: left;
  }
  .logo > img {
    width: 100%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  header a:hover {
    color: blue;
  }
  header .dangnhap {
    list-style: none;
    float: right;
    padding: 0 20px;
    border: 3px solid black;
    background-color: gray;
    margin-top: 10px;
    margin-right: 40px;
    border-radius: 5px;
  }
  header .muahang {
    list-style: none;
    float: right;
    padding: 0 20px;
    border: 3px solid black;
    background-color: gray;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  article img {
    margin-left: 400px;
  }
  article a {
    color: black;
    margin-left: 540px;
    text-decoration: none;
    font-size: 30px;
  }
  article del {
    color: red;
    margin-left: 570px;
  }
  article button {
    margin-left: 480px;
    width: 300px;
    height: 90px;
    font-size: 30px;
    margin-top: 50px;
  }
  footer {
    width: 1180px;
    height: 35px;
    background-color: red;
    margin: 10px;
  }
  footer ul li {
    list-style: none;
    float: left;
    color: black;
    padding: 0 130px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 5px;
  }
  footer ul li a {
    color: black;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: white;
  }
  header audio {
    margin-left: 250px;
    margin-top: 80px;
    height: 30px;
  }
  article img:hover {
    transform: scale(1.4);
    transition: 1s;
  }